{
  "extends": [
    "react-app",
    "standard",
    "plugin:jsx-a11y/recommended",
    "plugin:cypress/recommended"
  ],
  "env": {
    "cypress/globals": true
  },
  "plugins": ["jsx-a11y", "cypress"],
  "rules": {
    "indent": ["error", 2, { "SwitchCase": 1 }],
    "react/jsx-indent": ["error", 2],
    "react/jsx-indent-props": ["error", 2],
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "react/jsx-one-expression-per-line": "off",
    "react/forbid-prop-types": 0,
    "react/no-array-index-key": 0,
    "no-underscore-dangle": "off",
    "no-plusplus": "off",
    "no-case-declarations": "off",
    "no-restricted-globals": "off",
    "no-nested-ternary": "off",
    "no-bitwise": "off",
    "no-prototype-builtins": "off",
    "linebreak-style": "off",
    "import/no-extraneous-dependencies": ["error", {"devDependencies": true}],
    "import/prefer-default-export": "off",
    "import/no-named-as-default": "off",
    "max-len": [1, 200],
    "quotes": "error",
    "comma-dangle": ["error", {
      "arrays": "never",
      "objects": "never",
      "imports": "never",
      "exports": "never",
      "functions": "never"
    }]
  }
}
